@charset "ISO-8859-1";

body {
    
}

.marquee {
    animation: scroll-right-left 10s linear infinite;
}

.marquee {
 height: 233px;
 width: 3550px;
 margin-bottom: 5px;
}

@keyframes scroll-right-left {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(-100px);
    }
}