@charset "ISO-8859-1";

@keyframes push {
    from {
        margin: 0;
    }
    to {
        margin: 100%;
    }
}
.marquee2 {
    white-space: nowrap;
    overflow: hidden;
}
.marquee2 > span:nth-child(1) {
    animation:  20s linear 0s infinite push;
}